.best-seller-heading > p{
    width: 500px;
    margin: auto;
}

.card-container{
    padding: 0 80px;
}
.card-row{
    padding: 0 50px;
}
.product-card{
    background-color: whitesmoke;
}
.rating-icon{
    color: #FFB639;
    font-size: 14px;
}
.card-btn{
    background-color: #FFB639;
    font-weight: 600;
    transition: 0.3s;
}
.card-btn:hover{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}
/* USING MEDIA QUERY FOR RESPONSIVE */
@media only screen and (max-width: 768px) {
  .best-seller-heading > p{
    width: 100%;
    font-size: 14px;
}
.card-container{
    padding: 0px;
}
.card-row{
    padding: 20px;
}
}