.product-detail-heading{
    background-image: url('../../images/bg-img.webp');
    background-position: center;
    height: 300px;
}
.product-detail-heading > div > h6{
    color: #FFB639;
}
.form-container{
    padding: 100px;
}
.order-btn{
    background-color: #FFB639;
    font-weight: 600;
}